* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(to left, transparent -10%, rgb(53, 62, 70) 40%);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 2%;
    color: black;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
    border: 2px solid transparent;
}

nav a:hover {
    color: rgba(126, 127, 131, 1);
    border: 2px solid black;
}

main {
    width: 75%;
    margin: 0 auto;
}

#main-heading {
    margin: 50px;
    color: white;
}


.section-container {
    display: flex;
    height: 70vh;
}

.color-selection {
    display: inline-block;
    display: flex;
    height: 65vh;
    width: 61%;
    margin: 0 auto;
    background-color: rgb(236, 236, 236);
    border: 4px solid black;
    border-radius: 2em;
}

.color-selection #special-rgb {
    align-self: flex-start;
    font-size: 30px;
    display: inline-block;
    margin: 0 40px;
    padding: 40px 0;
    background-image: linear-gradient(to right, red, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-box-container {
    position: relative;
    padding: 2%;
}

.color-box-container div {
    height: 100px;
    width: 100px;
    border-radius: 1em;
    margin: 15px;
    box-shadow: 4px 10px 12px;
    z-index: 1;
}

@keyframes color-choice {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 20px;
        box-shadow: 8px 20px 24px;
    }

    75% {
        bottom: 20px;
        box-shadow: 8px 20px 24px;
    }

    88% {
        bottom: 15px;
        box-shadow: 7px 17px 21px;
    }

    100% {
        bottom: 10px;
        box-shadow: 6px 15px 18px;
    }
}

div.color-box1 {
    background-color: rgba(243, 243, 244, 1);
    position: relative;
    border: 3px solid transparent;
}

div.color-box1:hover {
    animation-name: color-choice;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    border: 3px solid white;
}

div.color-box1:active {
    border: 3px solid transparent;
    background-color: rgb(236, 236, 236);
    box-shadow: none;
    transition: .5s;
    animation: none;
    z-index: 0;
}

div.color-box2 {
    background-color: rgba(217, 197, 178, 1);
    position: relative;
    border: 3px solid transparent;
}

div.color-box2:hover {
    animation-name: color-choice;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    border: 3px solid white;
}

div.color-box2:active {
    border: 3px solid transparent;
    background-color: rgb(236, 236, 236);
    box-shadow: none;
    transition: .5s;
    animation: none;
    z-index: 0;
}

div.color-box3 {
    background-color: rgba(126, 127, 131, 1);
    position: relative;
    border: 3px solid transparent;
}

div.color-box3:hover {
    animation-name: color-choice;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    border: 3px solid white;
}

div.color-box3:active {
    border: 3px solid transparent;
    background-color: rgb(236, 236, 236);
    box-shadow: none;
    transition: .5s;
    animation: none;
    z-index: 0;
}

div.color-box4 {
    background-color: rgba(52, 49, 45, 1);
    position: relative;
    border: 3px solid transparent;
}

div.color-box4:hover {
    animation-name: color-choice;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    border: 3px solid white;
}

div.color-box4:active {
    border: 3px solid transparent;
    background-color: rgb(236, 236, 236);
    box-shadow: none;
    transition: .5s;
    animation: none;
    z-index: 0;
}


.color-answer-container {
    position: relative;
    padding: 2%;
}

.color-answer-container div {
    top: 30px;
    height: 85%;
    width: 22vw;
    border-radius: 1em;
    margin: 5px;
    box-shadow: 4px 10px 12px black;
    position: absolute;
}

.color-answer-container h2 {
    position: relative;
    top: 45%;
    left: 20%;
    transform: translate(0, -50%);
}


div.color-answer1 {
    background-color: rgba(243, 243, 244, 1);
    opacity: 0;
    z-index: 1;
}

div.color-answer2 {
    background-color: rgba(217, 197, 178, 1);
    opacity: 0;
    z-index: 1;
}

div.color-answer3 {
    background-color: rgba(126, 127, 131, 1);
    color: white;
    opacity: 0;
    z-index: 1;
}

div.color-answer4 {
    background-color: rgba(52, 49, 45, 1);
    color: white;
    opacity: 0;
    z-index: 1;
}

div.color-answer-description {
    box-shadow: none;
    border: 1px dashed gray;
    font-size: 20px;
    color: gray;
    z-index: 0;
}

div.color-answer-description p {
    margin: 50px;
}

#copied {
    margin: 150px 150px;
}

.font-selection {
    height: 135.5vh;
    width: 32%;
    margin: 0 auto;
    background-color: rgb(236, 236, 236);
    border: 4px solid black;
    border-radius: 2em;
}

.font-selection h2 {
    font-size: 30px;
    display: inline-block;
    margin: 0 50px;
    padding: 40px 0;
}

.font-selection div {
    margin: 20px;
}

.font-selection h3 {
    text-decoration: underline;
    font-size: 20px;
    margin: 20px 20px;
}

.font-selection p {
    margin: 40px 20px;
    font-size: 18px;
}

.font-choice1 {
    font-family: Roboto;
}

.font-choice2 {
    font-family: "Open Sans";
}

.font-choice3 {
    font-family: Montserrat;
}

.text-style-selection {
    display: block;
    position: relative;
    left: 10px;
    height: 65vh;
    width: 61%;
    background-color: rgb(236, 236, 236);
    border: 4px solid black;
    border-radius: 2em;
}

.text-style-selection div {
    margin: 10px;
    text-align: center;
}

.text-style-selection>h2 {
    position: relative;
    top: 10px;
    font-size: 30px;
    margin: 0 50px;
    padding: 40px 0;
}

ul {
    margin: 0;
}

.heading-choice1 {
    display: block;
}

.heading-choice1 h1 {
    font-weight: 700;
    font-size: 35px;
    font-family: Roboto;
    margin: 15px 50px;
}

.heading-choice1 li {
    margin: 10px;
    list-style: none;
}

.heading-choice2 {
    display: inline-block;
    width: 47%;
    height: 150px;
}

.heading-choice2 h2 {
    font-weight: 500;
    font-size: 25px;
    font-family: "Open Sans";
    margin: 15px 50px;
}

.heading-choice2 li {
    margin: 10px;
    list-style: none;
}

.heading-choice3 {
    width: 47%;
    float: right;
    height: 150px;
}

.heading-choice3 p {
    font-weight: 400;
    font-size: 20px;
    font-family: Montserrat;
    margin: 15px 50px;
}

.heading-choice3 li {
    margin: 10px;
    list-style: none;
}