* {
    margin: 0;
    /* border: 2px solid black; */
}

body {
    min-width: 600px;
    max-width: 75%;
    margin: 0 auto;
    background-color: rgb(219, 219, 219);
    font-family: "Open Sans";
}


#logo {
    float: left;
    font-size: 30px;
    color: #F7F1A6;
}

header {
    background-color: #363424;
    padding: 5px 50px 0 50px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav {
    padding: 15px;
    height: 15px;

}

header ul {
    float: right;
    padding: 0;
    text-align: center;
}

header li {
    display: inline;
    list-style: none;
    text-align: center;
    padding: 5px 30px;
}



header a {
    text-decoration: none;
    color: #C4C2AD;
    border-bottom: 2px solid transparent;
}

header a:hover {
    color: white;
    border-bottom: 2px solid white;
}

a.burger {
    display: none;
    position: relative;
    left: 78%;
}

#banner {
    white-space: nowrap;
    margin-left: 100px;
    margin-top: 50px;
    color: #363424;
    font-size: 40px;
    font-weight: 900;
}

main {
    background-color: #C4C2AD;
    padding: 1px 0;
}

main section {

    background-color: rgb(245, 245, 245);
    border-radius: 1em;
    margin: 50px auto;
    padding: 50px;
    height: 450px;
    width: 80%;
}

.colors-section {
    display: flex;
    align-items: flex-end;
}

.colors-section h2 {
    align-self: flex-start;
    top: 50px;
    left: 45px;
    font-size: 30px;
}



.color-box-container {
    min-width: 372px;
    max-width: 372px;
    height: 370px;
    width: 100%;
    margin-left: 50px;
}

.color-box-container .color-box {
    float: left;
    border-radius: 2em;
    box-shadow: 2px 5px 8px;
    margin: 10px;
    height: 100px;
    width: 100px;
}

.box1 {
    background-color: #B8B323;
}

.box2 {
    background-color: #FFFA73;
}

.box3 {
    background-color: #8CD9FF;
}

.box4 {
    background-color: #FF596A;
}

.box5 {
    background-color: #B34752;
}

.box6 {
    background-color: #ebebeb
}

.box7 {
    background-color: #b3b3b3;
}

.box8 {
    background-color: #666666;
}

.box9 {
    background-color: #313131;
}

.color-answer-container {
    position: relative;
    height: 370px;
    width: 100%;
    min-width: 390px;
    min-height: 390px;
}

.color-answer-container div {
    width: 100%;
    height: 100%;

    border-radius: 2em;
    position: absolute;
}

.color-answer1 {
    opacity: 0;
    box-shadow: 2px 5px 8px;
    background-color: #B8B323;
    z-index: 2;
    border: 2px solid transparent;
}

.color-answer2 {
    opacity: 0;
    box-shadow: 2px 5px 8px;
    background-color: #FFFA73;
    z-index: 2;
    border: 2px solid transparent;
}

.color-answer3 {
    opacity: 0;
    box-shadow: 2px 5px 8px;
    background-color: #BEE9F7;
    z-index: 2;
    border: 2px solid transparent;
}

.color-answer4 {
    opacity: 0;
    box-shadow: 2px 5px 8px;
    background-color: #FF596A;
    z-index: 2;
    border: 2px solid transparent;
}

.color-answer5 {
    opacity: 0;
    box-shadow: 2px 5px 8px;
    background-color: #B34752;
    color: white;
    z-index: 2;
    border: 2px solid transparent;
}

.color-answer6 {
    opacity: 0;
    box-shadow: 2px 5px 8px;
    background-color: #FFFFFF;
    z-index: 2;
    border: 2px solid transparent;
}

.color-answer7 {
    opacity: 0;
    box-shadow: 2px 5px 8px;
    background-color: #b3b3b3;
    z-index: 2;
    border: 2px solid transparent;
}

.color-answer8 {
    opacity: 0;
    box-shadow: 2px 5px 8px;
    background-color: #666666;
    color: white;
    z-index: 2;
    border: 2px solid transparent;
}

.color-answer9 {
    opacity: 0;
    box-shadow: 2px 5px 8px;
    background-color: #313131;
    color: white;
    z-index: 2;
    border: 2px solid transparent;
}

.color-answer-description {
    border: 2px dashed #666666;
    background-color: #F7F1A6;
    z-Index: 1;
    /* border: 2px solid transparent; */
}

.color-answer-description p {
    color: #666666;
    padding: 50px;
    visibility: visible;
}

.color-answer-container h3 {
    text-align: center;
    margin: 100px;
}

#copied {
    position: relative;
    left: -90px;
    top: -70px;
    opacity: 0;
    color: rgb(53, 218, 53);
    font-size: 20px;
    font-weight: Bold;
}

.fonts-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonts-section h2 {
    align-self: flex-start;
    font-size: 30px;

}

.fonts-section h3 {
    position: relative;
    padding: 10px;
    width: 100px;
    color: #313131;
    text-align: center;
}

.fonts-section p {
    padding: 15px 0;
    margin: 15px;
    color: #C4C2AD;
}

.font-choice1 h3 {
    background-color: #BEE9F7;
}

.font-choice1 {
    font-family: Roboto;
}


.font-choice2 h3 {
    background-color: #F78DA9;
}

.font-choice2 {
    font-family: "Open Sans";
}



.font-choice3 h3 {
    background-color: #F7F1A6;
}

.font-choice3 {
    font-family: "Montserrat";
}

.fonts-section div {
    box-shadow: 2px 5px 8px;
    margin: 15px;
    background-color: #313131;
    max-width: 300px;
    max-height: 300px;
    font-size: 15px;
}

.font-choice2 p {
    margin: 10px;
}

.styles-section {
    height: 680px;
}

.heading-choices {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    color: #ebebeb;
    background-color: #666666;
    padding: 20px;
    padding-left: 50px;
    border-radius: 1em;
    box-shadow: 2px 5px 8px black;
}

.heading-choices ul {
    margin-top: 10px;
    list-style: none;
    width: 200px;
    margin-right: 20px;
}

.styles-section h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: Roboto;
}

.styles-section h2 {
    font-size: 30px;
}

.heading-choices h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: "Open Sans";
}

.styles-section p {
    font-weight: 400;
    font-size: 14px;
    font-family: Montserrat;
}

footer {
    background-color: #363424;
    color: white;
    padding: 50px;
}


@media screen and (max-width: 1470px) {


    .colors-section {
        flex-direction: column;
        align-items: center;
        height: 480px;
    }

    .colors-section h2 {
        margin: 0;
    }

    .color-box-container {
        display: flex;
        margin: 0;
        min-height: 120px;
        overflow-x: auto;
        width: 30px;
    }

    .color-box {
        max-height: 50px;
        max-width: 50px;
        padding: 20px 40px;
        white-space: normal;
    }

    .color-answer-container {
        margin: 40px;
        min-height: 250px;
        max-width: 400px;
    }

    .fonts-section {
        flex-direction: column;
        height: 1000px;
    }


}

@media screen and (max-width: 970px) {
    nav ul {
        display: block;
        float: none;
        position: relative;
        left: 80%;
        width: 100px;
        position: relative;
        background-color: #313131;
        border: 1px solid #F7F1A6;
        margin: 0;

    }

    a.burger {
        display: inline-block;
        position: relative;
        left: 80%;
    }

    header li {
        float: none;
        display: block;
        z-index: 5;
        border: 1px solid #F7F1A6;
    }

    .my-links {
        display: none;
    }

    .styles-section {
        height: 720px;
    }

    .heading-choices {
        display: block;
    }

    .heading-choices ul {
        margin-top: 10px;
    }
}